@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

* {
  font-family: 'Inter', sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;


.fc, .sc, .bc {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease;
}

.fc.in, .sc.in, .bc.in {
  opacity: 1;
  transform: translateY(0);
}

.btn-primary {
  cursor: pointer;
  transition: all 0.2s;
}
.btn-primary:hover {
  background: #2c4acb;
}
.btn-ghost {
  cursor: pointer;
  transition: all 0.2s;
}
.btn-ghost:hover {
  background: #f3f4f6;
}